#!/usr/bin/env bash
set -e

DIR=`pwd`

if [ ! -e ".git/hooks/pre-commit" ]; then
rm -rf .git/hooks/pre-commit
mkdir -p .git/hooks
ln -s ../../.direnv/git/hooks/pre-commit .git/hooks/pre-commit
chmod +x .git/hooks/pre-commit
fi

PATH="$DIR/.direnv/bin:$PATH"

